<% obj.each do |recipe| %>
<div class="row">
  <div class="col-md-2">
    <section class="chef-info center">
      <%= image_tag "gravatar.jpg", width: 100, height: 100, id: "show-img"%>
    </section>
  </div>
  <div class="col-md-8 well">
  <h4><%= link_to recipe.name, recipe_path(recipe), class: "recipe-title"%></h4>
  <p><%= truncate(recipe.description, length: 150, omission: "...") %></p>
  <% if recipe.ingredients.any? %>
  <p><strong>Ingredients:</strong>
  <% recipe.ingredients.each do |ing| %>
  <span class="badge"><%= link_to ing.name, ingredient_path(ing)%></span>
  <% end %>
</p>
  <% end %>
  <p><small>created <%= time_ago_in_words(recipe.created_at) %> ago by <%= recipe.chef.chefname.capitalize %></small></p>
  <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
  <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-primary" %>
  <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure to delete?'}, class: "btn btn-danger" %>
  <% end %>
  </div>
</div>
<% end %>
