<%= render 'shared/page_title', title: @recipe.name %>
<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Description: </strong></h4>
  <hr>
  <%= simple_format(@recipe.description) %>
  <hr>
  <div class="pull-left show-actions">
    <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary" %>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure to delete?'}, class: "btn btn-danger" %>
    <%= link_to "Back", recipes_path, class: "btn btn-primary" %>

  </div>
  <div class="pull-right">
    <p class="center">
      <em>Created By:</em>
    </p>
    <p class="center">
      <%= image_tag "gravatar.jpg", width: 100, height: 100, id: "show-img"%>
    </p>
    <p class="center">
      <small><%= @recipe.chef.chefname %></small>
      <div class="pull-right">Created <%= time_ago_in_words(@recipe.created_at)%> ago</div>
    </p>

  </div>

</div>
