<%= render 'shared/page_title', title: @recipe.name %>
<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Description: </strong></h4>
  <hr>
  <%= simple_format(@recipe.description) %>
  <hr>
  <% if @recipe.ingredients.any? %>
  <p><strong>Ingredients:</strong>
  <% @recipe.ingredients.each do |ing| %>
  <span class="badge"><%= link_to ing.name, ingredient_path(ing)%></span>
  <% end %>
</p>
  <% end %>
  <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?)%>
  <div class="pull-left show-actions">
    <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary" %>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure to delete?'}, class: "btn btn-danger" %>
    <% end %>
    <%= link_to "Back", recipes_path, class: "btn btn-primary" %>
  </div>
  <div class="pull-right">
    <p class="center">
      <em>Created By:</em>
    </p>
    <p class="center">
       <!-- <%= link_to image_tag("gravatar.jpg", width: 100, height: 100, id: "show-img"), chef_path(@recipe.chef)%> -->
       <%= link_to image_tag(@recipe.chef.image.url(:thumb), id: "show-img"), chef_path(@recipe.chef) %>
    </p>
    <p class="center">
      <small><%= @recipe.chef.chefname %></small>
      <div class="pull-right">Created <%= time_ago_in_words(@recipe.created_at)%> ago</div>
    </p>
  </div>
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments: </h3>
      <hr>
      <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal", role: "form"})  do |f| %>
      <div class="form-group">
        <%= f.label :description, "Comment" %>
        <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Enter comment here" %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit Comment", class: "btn btn-lg btn-primary btn-xlarge" %>
      </div>
    <% end %>
    <hr>
  </div>
</div>
<% end %>

<% if @recipe.comments.count != 0 %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Prior Comments:</h3>
    <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
    </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>No comments yet</h3>
  </div>

</div>
<% end %>
